* {
  transition: border ease-in-out .3s,
              bottom ease-in-out .3s,
              left ease-in-out .3s,
              opacity ease-in-out .3s,
              right ease-in-out .3s,
              top ease-in-out .3s;
}

#topCamContainer {
  transition: height ease-in-out .3s,
              top ease-in-out .3s,
              right ease-in-out .3s,
              bottom ease-in-out .3s,
              left ease-in-out .3s,
              opacity ease-in-out .3s,
              width ease-in-out .3s;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

#container {
  background: #000;
  height: 100vh;
  outline: solid 1px red;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.invisible {
  opacity: 0;
}

#interstitial {
  background: url('assets/hexadventure.gif') center left repeat;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 10;
}

#interstitial.hail {
  background: url('assets/hail.gif') center center repeat;
}

#interstitial.roll {
  background: url('assets/roll.gif') center center repeat;
}

#interstitial.wave {
  background: url('assets/wave.gif') center center repeat;
}

#interstitial.bilatphase {
  background: url('assets/bilatphase.gif') center center repeat;
}

#interstitial.acidrgb {
  background: url('assets/acidrgb.gif') center center repeat;
}

#interstitial.redshift {
  background: url('assets/redshift.gif') center center repeat;
}

video {
  position: absolute;
}

@keyframes bob {
  0% {
    transform: translate(0) rotate(-1deg);
  }
  50% {
    transform: translate(0, 20px) rotate(1deg);
  }
  100% {
    transform: translate(0) rotate(-1deg);
  }
}

@keyframes shadows {
  0% {
    box-shadow: #000 10px 10px 10px;
  }
  50% {
    box-shadow: #000 10px 10px 15px;
  }
  100% {
    box-shadow: #000 10px 10px 10px;
  }
}

#video1 {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

#topCamContainer {
  animation: bob 10s ease-in-out infinite,
             shadows 10s ease-in-out infinite;
  border: solid 5px hotpink;
  border-radius: 5px;
  height: 150px;
  left: 50px;
  position: absolute;
  top: 50px;
  /*
  to make this to the right it needs to be `calc(100vw - (offset + width))` but, y'know, calculated previously
  probably something along the lines of window.width - (document.getElementById("topCamContainer").offsetWidth + document.getElementById("topCamContainer").getBoundingClientRect().left)
  */
  width: 160px;
  z-index: 2;
}

#topCamContainer.right {
  left: calc(100vw - 260px);
}

#topCamContainer.bottom {
  top: calc(100vh - 280px);
}

#topCamContainer > div {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

#topCamContainer #decoration {
  width: 100%;
  position: absolute;
}

#topCamContainer #decoration.bloodbar {
  background: url("assets/bloodbar.gif") top center no-repeat;
  bottom: -100px;
  height: 100px;
  top: auto;
}

#topCamContainer #decoration.skull {
  /* animation: bob 10s ease-in-out infinite;
  animation-delay: -5s; */
  background: url("assets/skull.gif") center center no-repeat;
  bottom: auto;
  height: 100%;
  left: 20px;
  top: -10px;
}

#topCamContainer #decoration.ufo {
  animation: bob 10s ease-in-out infinite;
  animation-delay: -5s;
  background: url("assets/ufo.gif") top center no-repeat;
  bottom: auto;
  top: -40px;
}

#video2 {
  height: 150px;
  margin-left: -65px;
  width: 300px;
}